# OS
.DS_Store/

# IDE
.vscode/
.vs/
.idea/
*.iml

# Rust
target/
y-cruncher/
Cargo.lock
dist/
projects/pi-search-data/computed5_max.csv
computed6.csv
computed7.csv
computed8.csv

# Yarn
yarn.lock
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
time-travel.*

# Build
Thumbs.db
.DS_Store
docs/.build/
package-lock.json
*.bin
*.nb
*.7z
